@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body {
  margin: 0;
  background-color: #EBE3D5;
  color: #696864;
  font-family: 'Cafe24Oneprettynight';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ql-size-small {
  font-size: 0.75em;
}

.ql-size-large {
  font-size: 1.5em; /* 원하는 글자 크기로 조정 */
}

.ql-size-huge {
  font-size: 2.5em
}